@tailwind base;
@tailwind components;
@tailwind utilities;

h2 {
    color: #ffffff;
    text-align: center;
    font-size: xx-large;
  }

  h3 {
    color: #e5cc70;
    text-align: center;
    font-size: large;
  }

  h4 {
    color: #000000;
    text-align: center;
    font-size: xx-large;
  }

  h5 {
    color: #000000;
    text-align: center;
    font-size: large;
  }

  h6 {
    color: #ffffff;
    text-align: center;
    font-size: large;
  }

  body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .menu {
    background-image: url("../imagenes/logoconfondo.jpg");
    background-size: cover;
    background-position: center;
    height: 70vh;
    display: flex;
  }

  .menu a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 15px;
    padding: 0;
    margin: 10px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    font-size: xx-large;
    margin-left: 40px;
    margin-top: 10px;
  }

  .menu2 {
    display: flex;
  }

  .menu2 a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 15px;
    padding: 0;
    margin: 10px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    font-size: xx-large;
    margin-left: 40px;
    margin-top: 10px;
  }
  footer {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    display: block;
    display: flex;
    align-items: center;
  }

  footer a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 15px;
    padding: 0;
    margin: 10px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
  }

  .conciertosyeventos {
    margin: 25px ;
    display: flex;
    justify-content: center;
  }

  .conciertosyeventos iframe {
    width: 720px;
    height: 505px;
    max-width: 100%;
    max-height: 100%;
    margin-right: 50px;
    margin-left: 50px;
  }
  .carteles {
    display: flex;
    margin: 10px;
    -webkit-transition: 1s linear;
    transition: 1s linear;
  }

  .carteles a img {
    height: 100%;
    width: 100%;
    margin-right: 10px;
  }

  .contenedor-cuadrados {
    display: flex;
  }

  .cuadrado {
    flex: 1;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .amarillo {
    background-color: #e5cc70;
  }



  .rojo {
    background-color: #860303;
  }
  .listacuadros {
    list-style-type: none;
    max-width: 70%;
  }

  form {
    max-width: 600px;
    margin: auto;
  }

  label {
    display: block;
    margin-bottom: 8px;
  }

  input,
  textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }

  .grupoformulario {
    display: flex;
    gap: 8px;
  }

  .mitad {
    flex: 1;
  }

  button {
    width: 20%;
    padding: 10px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 20px;
    cursor: pointer;
  }
  .contenedor {
    display: flex;
    align-items: center;
  }

  .contenedor img {
    max-width: 527px;
    max-height: 416px;
    margin-left: 426px;
    margin-right: 426px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .contenedor img:hover{
    -webkit-transform: translate(10%);
    transform: translate(10%);
    }

  .contenedor p {
    margin-left: 350px;
  }

  .listaredes {
    list-style-type: none;
    padding: 0;
    align-items: center;
  }

  .listaredes li {
    align-items: center;
    display: flex;
  }

  .listaredes img {
    display: flex;
    max-width: 40px;
    max-height: 40px;

  }

  .listaredes p {
    color: #e5cc70;
    font-size: xx-large;
  }

  .logoslista{
    margin-left: 750px;
    margin-top: 0px;
  }

  hr {
    border-color: #e5cc70;
    max-width: 350px;
    align-self: center;
  }

  .fiesta {
    display: flex;
    align-items: center;
  }

  .fiestatexto h2 {
    color: #ffffff;
    text-align: center;
    font-size: x-large;
  }
  .fiestacartel {
    margin-right: 150px;
    margin-left: 200px;
    max-width: 35%;
    height: auto;
  }



  .fiestatexto {
    max-width: 30%;
  }

  .informacion {
    display: flex;
    align-items: center;
    text-align: center;
  }

  .informacion img {
    max-width: 40px;
    max-height: 40px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .tienda {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px 70px;
    background-color: #860303;
    border-radius: 10px;
  }

  .tienda p {
    color: #000000;
    font-size: xx-large;
  }
  .entrada {
    margin: 10px 0;
    padding: 15px;
    background-color: #4e4e4e;
    border-radius: 15px;
    border: 2px solid #000;
    position: relative;
  }

  .entrada h3 {
    color: #ffffff;
    text-align: justify;
    margin-top: 0px;
    font-size: x-large;
  }

  .precio {
    background-color: #b4adad;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 5px;
    margin-left: 15px;
  }

  .reservar {
    background-color: #860303;
    color: #ffffff;
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 20px;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 15px;
    margin-bottom: 15px;
  }



  .carrousel {
    width: 90%;
    max-width: 120em;
    padding: 2em;
    color: var(--negro);
    transition: all 0.4s ease;
    border-radius: 1em;
    background-color: var(--blanco);
    box-shadow: 1em 1em 2em var(--sombra-ppal), -1em -1em 2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
    overflow: hidden;
  }

  .carrousel .grande {
    width: 400%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    color: var(--negro);
    transition: all 0.4s ease;
    background-color: var(--blanco);
    box-shadow: 1em 1em 2em var(--sombra-ppal), -1em -1em 2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
    transition: all 0.5s ease;
    transform: translateX(0%);
  }

  .carrousel .img {
    width: calc( 100% / 4);
    max-height: 10vh;
    color: var(--negro);
    transition: all 0.4s ease;
    background-color: var(--blanco);
    box-shadow: 1em 1em 2em var(--sombra-ppal), -1em -1em 2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
   }

  .carrousel .puntos {
    width: 100%;
    margin: 1em 0 0;
    padding: 0.4em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }

  .carrousel .punto {
    width: 2em;
    height: 2em;
    margin: 1em 1em 0;
    color: var(--negro);
    transition: all 0.4s ease;
    border-radius: 1em;
    background-color: var(--blanco);
    box-shadow: 0.6em 0.6em 1.2em var(--sombra-ppal), -0.6em -0.6em 1.2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
  }

  .carrousel .punto.activo {
    background-color: #e5cc70;
  }

  .acordeon {
    width: 90%;
    max-width: 20rem;
    padding: 2rem;
    color: var(--negro);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border-radius: 1rem;
    background-color: var(--blanco);
    -webkit-box-shadow: 0.4rem 0.4rem 0.8rem var(--sombra-ppal), -0.4rem -0.4rem 0.8rem var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
            box-shadow: 0.4rem 0.4rem 0.8rem var(--sombra-ppal), -0.4rem -0.4rem 0.8rem var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
  }

  .acordeon .bloque {
    margin: 0 0 1rem;
    padding: 1rem;
    color: var(--negro);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border-radius: 1rem;
    background-color: var(--blanco);
    -webkit-box-shadow: 0.4rem 0.4rem 0.8rem var(--sombra-ppal), -0.4rem -0.4rem 0.8rem var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
            box-shadow: 0.4rem 0.4rem 0.8rem var(--sombra-ppal), -0.4rem -0.4rem 0.8rem var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
  }

  .contenido h3 {
    color: #e5cc70;
    text-align: center;
    font-size: large;
  }

  .acordeon .contenido {
    height: 0;
    padding: 0rem;
    overflow: hidden;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  .acordeon .bloque.activo .contenido {
    height: 4rem;
  }

  li {
    list-style-type: none;
  }





  svg {
    width: 100%;
    display: block;
    fill: currentColor;
  }

  .ul {
    width: 80%;
    background: lightgrey;
    padding: 1em;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
    gap: 1em;
    color: var(--negro);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border-radius: 1em;
    background-color: var(--blanco);
    -webkit-box-shadow: 1em 1em 2em var(--sombra-ppal), -1em -1em 2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
            box-shadow: 1em 1em 2em var(--sombra-ppal), -1em -1em 2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
  }

  .ul .li {
    background: orange;
    overflow: hidden;
    color: var(--negro);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border-radius: 1em;
    background-color: var(--blanco);
    -webkit-box-shadow: 0.8em 0.8em 1.6em var(--sombra-ppal), -0.8em -0.8em 1.6em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
            box-shadow: 0.8em 0.8em 1.6em var(--sombra-ppal), -0.8em -0.8em 1.6em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
  }

  .ul .img {
    min-height: 25vh;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }

  .ul .li:hover .img {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  .lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 0;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    pointer-events: none;
  }

  .lightbox.activo {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    pointer-events: auto;
  }

  .lightbox .cerrar {
    width: 5em;
    height: 3em;
    background: orange;
    margin: 0 0 1em;
    color: var(--negro);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border-radius: 1em;
    background-color: var(--blanco);
    -webkit-box-shadow: 0.5em 0.5em 1em var(--sombra-ppal), -0.5em -0.5em 1em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
            box-shadow: 0.5em 0.5em 1em var(--sombra-ppal), -0.5em -0.5em 1em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
    cursor: pointer;
  }

  .lightbox .cerrar:hover {
    color: var(--negro);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border-radius: 1em;
    background-color: var(--blanco);
    -webkit-box-shadow: 0 0 0 transparent, 0 0 0 transparent, inset 0.5em 0.5em 1em var(--sombra-ppal), inset -0.5em -0.5em 1em var(--sombra-sec);
            box-shadow: 0 0 0 transparent, 0 0 0 transparent, inset 0.5em 0.5em 1em var(--sombra-ppal), inset -0.5em -0.5em 1em var(--sombra-sec);
  }

  .grande {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Distribuye las imágenes a lo largo de todo el ancho */
    align-items: center;
    gap: 20px; /* Espacio entre las imágenes */
    width: 100%;
    padding: 0 20px; /* Margen en los lados izquierdo y derecho */
    box-sizing: border-box; /* Incluye el padding en el ancho total */
  }

  .grande img {
    flex-grow: 1;
    max-width: 100%;
    height: auto;
  }

 /* Icono del carrito en la esquina superior derecha */
.carrito-icono {
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
  }

  /* Panel del carrito (sidebar) */
  .carrito-panel {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    padding: 20px;
    overflow-y: auto;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .cerrar-carrito {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
  }

  .total {
    margin-top: 15px;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
  }

  .carrito-panel ul {
    list-style-type: none;
    padding: 0;
  }

  .carrito-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
  }

  .carrito-item span {
    flex: 1;
    text-align: center;
  }

  .carrito-item input {
    width: 60px;
    text-align: center;
    margin: 0 10px;
  }

  .eliminar {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
  }

  /* Contenedor para los botones de vaciar y finalizar */
  .carrito-botones {
    display: flex;
    flex-direction: column; /* Coloca los botones en una columna */
    gap: 10px; /* Espacio entre los botones */
    align-items: center; /* Centra los botones horizontalmente */
    margin-top: 20px;
  }

  .carrito-botones button {
    padding: 10px;
    width: 80%; /* Ajusta el ancho del botón para que esté centrado */
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
  }

  .li-estilo-h3 {
    font-size: 1.25em; /* Ajusta según el tamaño de h3 */
    font-weight: bold;
    color: #e5cc70;
    margin: 0.5em 0;
}
.galeria-container {
    text-align: center;
    color: #fff;
  }

  .galeria-container h2 {
    font-size: 1.5em;
    margin-bottom: 1em;
    text-transform: uppercase;
  }

  .galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }


  .galeria-item {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .galeria-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }

  .galeria-item span {
    display: block;
    margin-top: 5px;
    color: #fff;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 2px 6px;
    border-radius: 3px;
    width: fit-content; /* Ajusta el ancho del span al contenido */
  }


  .informacion-container {
    font-family: Arial, sans-serif;
    color: #fff;
    width: 100vw; /* Hace que el contenedor ocupe el ancho completo de la ventana */
    overflow: hidden; /* Evita desbordamientos */
  }

  .header-section {
    position: relative;
    text-align: center;
    width: 100%;
  }

  .header-image {
    width: 100%;
    height: auto; /* Mantiene la proporción de la imagen */
    object-fit: cover; /* Asegura que la imagen cubra el ancho completo sin estirarse */
  }
  .intro-section {
    background-color: #e5cc70;
    padding: 40px; /* Aumenta el espacio alrededor del contenido */
    text-align: center;
    color: #333; /* Color del texto */

    margin: 20px; /* Espacio alrededor de la sección */
  }

  .intro-section h3 {
    font-size: 2em;
    margin: 0;
    margin-bottom: 20px; /* Espacio debajo del título */
  }

  .intro-section p {
    font-size: 1.2em; /* Tamaño de fuente un poco mayor */
    margin-top: 20px; /* Espacio encima del párrafo */
    line-height: 1.8; /* Mayor separación entre líneas */
  }

  .reservation-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: #000;
  }

  .reservation-item {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
  }

  .reservation-item.reverse {
    flex-direction: row-reverse; /* Alterna la posición de la imagen y el texto */
  }

  .reservation-image {
    width: 50%;
    height: auto;
    border-radius: 5px;
  }

  .reservation-content {
    width: 50%;
    color: #fff;
    text-align: left;
  }

  .reservation-content h4 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #bbb;
  }

  .reservation-content p {
    font-size: 1em;
    margin-bottom: 20px;
    color: #bbb;
    line-height: 1.6;
  }

  .reserve-button {
    background-color: #f4d35e;
    color: #000;
    padding: 15px; /* Aumenta el tamaño del botón */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-left: 220px; /* Desplaza el botón hacia la derecha */
    white-space: nowrap;
  }

  .reserve-button:hover {
    background-color: #e5c04d;
  }

  .info-container {
    display: flex;
    align-items: center;
    gap: 20px; /* Espacio entre la imagen y el texto */
    margin-bottom: 20px;
  }

  .reservation-image {
    width: 50%; /* Ajusta el tamaño de la imagen */
    height: auto;
    border-radius: 5px;
  }

  .reservation-description {
    width: 50%; /* Ajusta el ancho de la descripción */
    font-size: 1.2em;
    line-height: 1.6;
    color: #f4d35e; /* Cambia el color del texto */
  }

  .event-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .event-textarea {
    width: 100%;
    height: 80px;
    padding: 10px;
    resize: vertical;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  .event-select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  .event-submit-button {
    width: 100%;
    padding: 10px;
    background-color: #f4d35e;
    color: #000;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .event-submit-button:hover {
    background-color: #e5c04d;
  }

  .booked-date {
    background-color: red !important;
    color: white !important;
  }

  .calendar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0; /* Reduce el espacio vertical alrededor del calendario */
  }

  .historial h2 {
    margin-bottom: 10px;
}

.compra h3, .reserva h3 {
    margin: 0;
    font-weight: bold;
}

.compra-detalles, .reserva-detalles {
    background-color: #f9f9f9;
    border-radius: 5px;
}

.li-estilo-h3 {
    margin-left: 20px;
}
.register-form label {
  color: black;
}
.account-info {
  margin-bottom: 1rem;
}

.btn-logout {
  background-color: #e3342f;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-logout:hover {
  background-color: #cc1f1a;
}

/* Contenedor principal */
.mi-cuenta-container {
  display: flex;
  min-height: 100vh;
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
}

/* Lista de campos (lado izquierdo) */
.mi-cuenta-campos {
  width: 25%;
  padding: 20px;
  border-right: 2px solid #333;
}

.mi-cuenta-titulo {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.mi-cuenta-lista {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mi-cuenta-item {
  margin-bottom: 1rem;
  cursor: pointer;
  font-size: 1.2rem;
  color: #fff;
  transition: color 0.3s ease;
}

.mi-cuenta-item:hover {
  color: #e5cc70;
}

/* Botón de cierre de sesión */
.mi-cuenta-boton {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #e3342f;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.mi-cuenta-boton:hover {
  background-color: #cc1f1a;
}

/* Información seleccionada (centro) */
.mi-cuenta-detalles {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.mi-cuenta-detalle-titulo {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #e5cc70;
}

.mi-cuenta-detalle-info {
  font-size: 1.5rem;
  color: #e5cc70;
}

.mi-cuenta-mensaje {
  font-size: 1.2rem;
  color: #888;
}
.mi-cuenta-acciones {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 15px; /* Espacio entre los botones */
}

.mi-cuenta-acciones {
  position: absolute; /* Permite posicionar elementos en relación al contenedor */
  top: 20px; /* Distancia desde la parte superior */
  right: 20px; /* Distancia desde la parte derecha */
  display: flex;
  gap: 15px; /* Espacio entre botones */
}

.mi-cuenta-boton-logout,
.mi-cuenta-boton-password {
  padding: 12px 30px; /* Espacio interno */
  background-color: #e5cc70;
  border: none;
  color: black;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px; /* Tamaño de texto */
  font-weight: bold; /* Texto en negrita */
  min-width: 150px; /* Ancho mínimo */
  text-align: center;
  transition: background-color 0.3s ease; /* Transición para hover */
}

.mi-cuenta-boton-logout:hover,
.mi-cuenta-boton-password:hover {
  background-color: #d4b75f; /* Color más oscuro al hacer hover */
}


.añadir-saldo-container {
  max-width: 500px;
  margin: 50px auto;
  text-align: center;
  color: #333;
}

.añadir-saldo-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.añadir-saldo-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
}

.añadir-saldo-boton {
  padding: 12px 30px;
  background-color: #e5cc70;
  border: none;
  color: black;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.añadir-saldo-boton:hover {
  background-color: #d4ba60;
}

.concerts-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.concert-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.concert-card:hover {
  transform: translateY(-5px);
}

.concert-cartel {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.ver-mas {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.ver-mas:hover {
  background-color: #0056b3;
}

.concerts-container {
  background-color: #8B0000; /* Fondo rojo */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  margin: 20px auto;
  max-width: 800px; /* Ancho máximo */
}

.concert-card {
  background-color: #2d2d2d; /* Fondo gris oscuro */
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  margin-bottom: 15px;
  color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.concert-card img {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  object-fit: cover;
  margin-right: 15px;
}

.concert-card .info {
  flex-grow: 1;
}

.concert-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.concert-date {
  font-size: 1rem;
  color: #d3d3d3;
}

.concert-description {
  font-size: 0.9rem;
  margin: 10px 0;
}

.concert-card .ver-mas {
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
}

.concert-card .ver-mas:hover {
  background-color: #444;
  color: #fff;
}


.error {
  color: white;
  font-size: 0.9em;
  margin-top: 4px;
  display: block;
  background-color: rgba(255, 0, 0, 0.7); /* Fondo rojo translúcido */
  padding: 4px 8px;
  border-radius: 4px;
}

.carrito-icono {
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilos generales para la tabla */
.usuarios-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #2c2f36; /* Fondo oscuro para la tabla */
  color: #fff; /* Texto blanco */
}

.usuarios-table th, .usuarios-table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.usuarios-table th {
  background-color: #1e2127; /* Fondo oscuro para los encabezados */
  color: #f1f1f1; /* Texto más claro para los encabezados */
  font-weight: bold;
}

.usuarios-table td {
  background-color: #333639; /* Fondo oscuro para las filas */
}

.usuarios-table tr:hover td {
  background-color: #444b53; /* Color de fondo más claro al pasar el ratón */
}

/* Estilos para los botones */
.usuarios-table button {
  background-color: #860303; /* Verde para los botones */
  color: white;
  border: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.usuarios-table button:hover {
  background-color: #550505; /* Cambio de color al pasar el ratón */
}

.usuarios-table button:disabled {
  background-color: #ccc; /* Color de botón deshabilitado */
  cursor: not-allowed;
}

/* Estilos para los mensajes de error */
.error {
  color: #ff4d4d;
  font-size: 14px;
  margin-bottom: 10px;
}

.usuarios-table {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.usuarios-table table {
  width: 100%;
  border-collapse: collapse;
}




.busqueda-texto {
  color: #000; /* Ajusta el color según sea necesario */
  font-weight: bold;
  margin-top: 5px; /* Espaciado opcional */
}

.sorteos button {
  margin: 5px;
  padding: 10px 15px;
  background-color: #e5cc70;
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.sorteos button:hover {
  background-color: #f3d465;
}



.resultado {
  margin-top: 20px;
  padding: 10px;
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.error {
  color: red;
  margin-bottom: 10px;
}



.opciones-pago label {
  color: white
}

/* Contenedor principal */
.tabla-compras-container {
  width: 100%;
  margin-bottom: 20px;
}

/* Estilo general de la tabla */
.tabla-compras {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.tabla-compras th,
.tabla-compras td {
  padding: 5px;
  text-align: center;
  color: #fff;
  border-bottom: 1px solid #444;
}

.tabla-compras th {
  background-color: #333;
  color: #e5cc70;
  cursor: pointer;
}

.tabla-compras th:hover {
  background-color: #444;
}

/* Filtro superior */
.tabla-compras-filtro {
  background-color: #333;
  padding: 10px;
  text-align: center;
}

.filtro-fechas {
  display: flex;
  justify-content: center;
  gap: 15px;
  align-items: center;
}

.filtro-fechas label {
  color: #fff;
}

.filtro-fechas input {
  margin-left: 5px;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #000;
}

/* Filas de la tabla */
.tabla-compras-row:hover {
  background-color: #222;
}

/* Botón de descarga */
.tabla-compras-btn {
  background-color: #e5cc70;
  color: #000;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 0.8rem;
  display: inline-block;
}

.tabla-compras-btn:hover {
  background-color: #d4b852;
  color: #000;
}

/* Mensaje cuando no hay datos */
.tabla-compras-vacia {
  padding: 10px;
  color: #fff;
  text-align: center;
}

/* Paginación */
.tabla-compras-paginacion {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 10px;
}

.paginacion-btn {
  padding: 4px 8px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  font-size: 0.8rem;
}

.paginacion-btn.activo {
  background-color: #e5cc70;
  color: #000;
}

.paginacion-btn:hover {
  background-color: #444;
}
